// 富文本编辑器全局样式
.editor {
  .w-e-text-container {
    background-color: transparent;
  }
}

// 自定义可选中标签
.custom-tag {
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 8px;
}

.custom-tag.active {
  @include themeify {
    background-color: main-color() !important;
    border-color: main-color() !important;
  }
  color: #fff !important;
  transform: scale(1.1);
}

.ant-layout-content {
  .ant-input,
  .ant-select-selector {
    @include styles('background-color', 'main-bgc');
    @include styles('border-color', 'main-bgc');
    @include styles('color', 'text-color');
  }
  .tag-select .ant-select-selection-item {
    @include styles('background-color', 'minor-bgc');
    @include styles('border-color', 'main-bgc');
    @include styles('color', 'text-color');
  }
  .ant-form-item-label {
    & > label {
      @include styles('color', 'text-color');
    }
  }
  .editor-wrap {
    border-radius: 4px;
    .w-e-text-container,
    .w-e-bar {
      @include styles('background-color', 'main-bgc');
      // @include styles('color', 'text-color');
      border-radius: 4px;
    }
  }
}