/* 此文件编写全局scss变量 */
//color
$main-color: #00adb5;
$minor-color: #333638; // 辅助色
$text-color: #333333;
$box-shadow: 0 4px 12px #000026;
$main-bgc: #f4f4f4;
$layout-border-radius:18px
// $text-color: #333333;
